@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700&display=swap");
.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  margin: 0 1rem;
}
.main-menu li a {
  color: #1c1ca6;
  text-decoration: none;
}
.main-menu li a:hover {
  text-shadow: 0px 0px 0.8rem rgba(28, 28, 166, 0.4);
}

.img-placeholder {
  font-size: 15rem;
}

.main-btn, .send-btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
  color: #f3f3f3;
  background-color: #1c1ca6;
  border-radius: 1.15rem;
}
.main-btn:hover, .send-btn:hover {
  box-shadow: 0 0 0.8rem rgba(28, 28, 166, 0.4);
}

.socials-btn {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1px solid #1c1ca6;
  color: #042a2b;
  background-color: #f3f3f3;
  border-radius: 0.75rem;
  width: 100%;
}
.socials-btn:hover {
  box-shadow: 0 0 0.3rem rgba(28, 28, 166, 0.4);
}
.socials-btn a:link {
  text-decoration: none;
  color: #042a2b;
}
.socials-btn p {
  margin: 0;
}

.message {
  resize: none;
  margin: 1rem 0;
  border: 1px solid #1c1ca6;
  height: 8rem;
  background-color: #f3f3f3;
}
.message:hover {
  background-color: #fafafa;
}
.message:focus {
  outline: none;
  box-shadow: none;
  background-color: #fafafa;
  border: 2px solid rgba(28, 28, 166, 0.8);
}
.message textarea {
  font-weight: 500;
}
.message textarea ::selection {
  color: white;
}

.send-btn {
  width: 100%;
  margin: 1rem 0;
}

.creds {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}
.creds a:link {
  text-decoration: none;
  color: #042a2b;
}

h3 {
  font-weight: 700;
  text-align: center;
}

body {
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  background-color: #f3f3f3;
}

.nav {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #f3f3f3;
  position: fixed;
}
.nav .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}

.sec {
  height: 93vh;
  width: 100vw;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
}
.footer p {
  margin: 0 0.5rem;
}

.sec-projects {
  height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.sec-projects .div-projects {
  height: 100%;
  width: 100%;
}
.sec-projects .div-projects .project {
  margin: 5rem 0 0;
}
.sec-projects .div-projects .project .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
}
.sec-projects .div-projects .project .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-projects .div-projects .project .image img {
  max-width: 90%;
}
.sec-projects .div-projects .project .image p a {
  font-style: none;
}

.sec-about {
  height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.sec-about div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sec-about div .text {
  text-align: justify;
  text-justify: inter-word;
}
.sec-about div img {
  border-radius: 50%;
  max-width: 15rem;
}

.sec-contact {
  height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.sec-contact .contact {
  display: inline-flex;
  width: 100vw;
}
.sec-contact .contact .socials {
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .sec-projects {
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .sec-projects .div-projects {
    height: 100%;
    width: 100%;
  }
  .sec-projects .div-projects .project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
  }
  .sec-projects .div-projects .project .image {
    text-align: center;
  }
  .sec-projects .div-projects .project .image:hover {
    opacity: 0.5;
  }
}

/*# sourceMappingURL=styles.css.map */
